.bk-powered-by-ts-ribbon{
    display: none !important;
}

.bk-powered-footer{
    display:none;
}

.eureka-search-bar-module__searchBarWrapper{
    background-color: white;
}

.carousel-module__carousel{
    background-color: white;
}

.trending-base-module__trendingWrapper{
    background-color: white !important;
}

.tokenizer-module__token{
    background-color: rgb(241, 177, 251);
}