.bk-powered-by-ts-ribbon{
    display: none !important;
}

.bk-powered-footer{
    display:none;
}

.eureka-search-bar-module__searchBarWrapper{
    background-color: white;
}

.carousel-module__carousel{
    background-color: white;
}

.trending-base-module__trendingWrapper{
    background-color: white !important;
}

.tokenizer-module__token{
    background-color: rgb(241, 177, 251);
    color:black
}

.sage-search-box-module__measureToken:hover{
    background: #af30c1;
    color: #fff !important;
    border-color: #af30c1;
}

.tokenizer-module__tokenizerContainer .tokenizer-module__token:after{
    background-color: rgb(255, 65, 65);
}