.bk-powered-by-ts-ribbon{
    display: none !important;
}

.bk-powered-footer{
    display:none;
}

.eureka-search-bar-module__searchBarWrapper{
    background-color: white;
}

.carousel-module__carousel{
    background-color: white;
}

.trending-base-module__trendingWrapper{
    background-color: white !important;
}

.tokenizer-module__token{
    background-color: rgb(241, 177, 251);
    color:black
}

.sage-search-box-module__measureToken:hover, .sage-search-box-module__attributeToken:hover{
    background: #af30c1;
    color: #fff !important;
    border-color: #af30c1;
}

.tokenizer-module__tokenizerContainer .tokenizer-module__token.tokenizer-module__bkEditedNode{
    background: #af30c1 !important;
}

.tokenizer-module__tokenizerContainer .tokenizer-module__token:after{
    background-color: rgb(255, 65, 65);
}

.button-module__backgroundLight.button-module__secondary{
    background-color: rgb(255, 65, 65);
}

.button-module__backgroundLight.button-module__secondary:not(.button-module__disabled):active {
    background-color: rgb(2, 121, 255);
}

.sage-completions-dropdown-module__footerHelpContainer{
    background-color: #f8f8fa;
}
