.layout-module__horizontal{
    display: none !important;
}

.answer-edit-panel-module__answerConfigPanel{
    display: none !important;
}

.flex-layout-module__vertical{
    display: none !important;
}

.answer-module__leftPanel{
    display: none !important;
}

.flex-layout-module__vertical.spacing-e>* {
    display: none !important;
}

.bk-powered-by-ts-ribbon{
    display: none !important;
}

.bk-powered-footer{
    display:none !important;
}

.eureka-search-bar-module__searchBarWrapper{
    background-color: white ;
}

.carousel-module__carousel{
    background-color: white;
}

.trending-base-module__trendingWrapper{
    background-color: white;
}

.answer-actions-container-module__answerActionsCompactHover {
    display: none !important;
}

.flex-layout-module__horizontal {
    display: none !important;
}

.answer-title-module__descriptionTextOneLine{
    display: none !important;
}