/* Source Sans Pro font */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

/* Adding font-family and font-weight to chart */
body {
    font-family: "Source Sans Pro", sans-serif !important;
    font-weight: 500 !important;
}

/* changing background color of the liveboard */
.pinboard-content-module__gridContainer {
    background-color: #fff;
}

/* hiding header of liveboard */
.pinboard-header-module__pinboardHeaderContainer {
    display: none !important;
}

/* Hiding footer */
.footer-module__footerContainer.layout-module__horizontal {
    display: none !important;
}

/* removing description text from both charts and KPI */
.answer-title-module__descriptionTextOneLine {
    display: none !important;
}

/* removing box shadow */
.react-grid-item.pinboard-content-module__tile {
    box-shadow: none !important;
}


/* *****KPI***** */

.bk-title-description .bk-title-section .bk-title {
    /* font-size: 24px !important; */
    /* font-weight:600 !important; */
    /* line-height:32px !important; */
    color: #1a1f22 !important;
}

.tile-container .tile-size-xs .bk-title {
    font-size: 13px !important;
    font-weight: 300 !important;
    line-height: 16px !important;
    color: #4c4c4c !important;
}

.tile-size-xs .bk-title-description .bk-title-section {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
}

.kpi-module__hero {
    font-size: 32px !important;
    font-weight: 300 !important;
    line-height: 32px !important;
    color: #0279ff !important;
}

.kpi-module__heroDataContainer {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.answer-title-module__titleText:has(+ .kpi-module__kpi .kpi-module__hero) {
    font-size: 13px !important;
    font-weight: 300 !important;
    line-height: 16px !important;
    color: #4c4c4c !important;
}

@media (min-width: 1014px) and (max-width: 1279px) {
    .tile-extraSmall .kpi-module__hero {
        font-size: 32px !important;
        font-weight: 300 !important;
        line-height: 32px !important;
        color: #0279ff !important;
    }
}

@media (max-width: 1013px) {
    .tile-extraSmall .kpi-module__hero {
        font-size: 32px !important;
        font-weight: 300 !important;
        line-height: 32px !important;
        color: #0279ff !important;
    }
}

.bk-pinboard-data-viz .bk-pinboard-viz-header {
    -webkit-flex-basis: 40px !important;
    flex-shrink: 40px !important;
}

.bk-pinboard-data-viz {
    padding: 5px !important;
}

.tile-container .tile-size-xs {
    width: 24.25% !important;
    z-index: 1 !important;
}

.tile-container .tile-size-xs:has(.kpi-module__kpi .kpi-module__hero) .bk-base-pinboard-data-viz .bk-pinboard-data-viz-container {
    min-height: 8em !important;
}

.tile-container .tile-size-xs:has(.kpi-module__kpi .kpi-module__hero) .bk-pinboard-data-viz .bk-pinboard-viz-content {
    margin-top: 0px !important;
}

/* action button always visible */
.answer-actions-container-module__answerActionsHorizontal:not(:focus-within) .answer-actions-container-module__answerActionsCompact {
    display: block !important;
}

/* hiding ask sage button */
.button-module__buttonWrapper.answer-actions-container-module__primaryActionButton {
    display: none !important;
}

/* .button-module__button.button-module__buttonWithText {
    display: none !important;
} */

/* Disabling filter option */
.menu-module__menuGroupWrapper div[data-testid="bk-filter-option"] {
    display: none !important;
}

/* Disabling colour palette */
.colorpicker-module__content {
    display: none !important;
}

/* layout border */
.react-grid-item.cssTransforms {
    border: none !important;
    border-radius: none !important;
}

/* layout box-shadow */
.react-grid-item.cssTransforms:hover {
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
}